* {
  margin: 0;
  padding: 0;
}

body {
  background-image: var(--corpo-segundo-backgrond);
  font-family: 'Inter', sans-serif;
  line-height: 1.3;
  position: relative;
}


:root {
  font-size: 100%;
  --corpo-backgrond: #C7EAFF;
  --corpo-segundo-backgrond: linear-gradient(90deg, #0c6db8, #245EFF, #02a2ff);
  --corpo-terceiro-backgrond: #0d49b7;
}

header {
  background: var(--corpo-segundo-backgrond);
  width: 100%;
  height: 8vh;
  padding: 10px;
  text-align: center;
  position: fixed;
  z-index: 1;
}

nav {
  margin-top: 1em;
}

nav a {
  text-decoration: none;
  color: var(--corpo-backgrond);
  font-size: 20px;
  margin: 2em 1em;
}

nav a:hover {
  color: #61bef4;
  text-decoration: underline;
}

.informacao-contato {
  width: 1020px;
  height: 480px;
  margin: 0 auto;
  padding-top: 48px;
  position: relative;
  color: var(--corpo-backgrond);
}

.informacao h1 {
  font-size: 60px;
  margin-top: 64px;

}

.informacao h2 {
  margin-top: 16px;
  font-weight: 700;
  font-style: italic;

}

.contato {
  display: flex;
  gap: 1em;
}

.icone-gmail,
.icone-whatsapp,
.icone-mapa {
  width: 30px;
}

.contato p {
  font-size: 20px;
  margin-top: 2px;

}

.foto {
  position: absolute;
  width: 300px;
  aspect-ratio: 1;
  background: url("imagens/foto.png");
  background-position: center;
  background-size: 290px;
  right: 134px;
  top: 90px;
  border-radius: 50%;
  border: var(--corpo-terceiro-backgrond) 16px solid;
  margin-top: 24px;
  margin-left: 70px;
}

.midias {
  position: absolute;
  right: 70px;
  top: 170px;
}

.midias img {
  width: 48px;
  display: block;
  margin-bottom: 8px;
  transition: 0.7s transform;
}

.midias img:hover {
  transform: scale(1.4);
}

main {
  background: var(--corpo-backgrond);
  padding: 48px 0;
  color: var(--corpo-terceiro-backgrond);
}

main section {
  width: 1020px;
  margin: 0 auto;
}

.sobre-min {
  display: flex;
  gap: 3em;
}

.div-sobre-min {
  width: 480px;
  flex-direction: column;
}

.titulo {
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 48px;
}

.div-sobre-min p {
  text-align: left;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 2em;
}

.imagem-sobremin {
  width: 500px;
  display: inline-block;
  border-radius: 8px;
  box-shadow: 1px 1px 16px #0d49b7;
}

.margem-caixas {
  margin: 2.3%;
}

.background-texto {
  background-color: var(--corpo-terceiro-backgrond);
  box-shadow: 1px 1px 16px #0d49b7;
  color: rgb(255, 229, 229);
  padding: 18px;
  display: inline-block;
  border-radius: 8px;
  width: 45%;
  box-sizing: border-box;
  vertical-align: top;
  height: 100px;
  font-size: 16px;
}

.div-projetos {
  display: flex;
}


.div-card {
  background-color: #0d49b7;
  width: 30%;
  margin: 1rem;
  height: 55vh;
  padding: 8px;
  color: white;
  border-radius: 8px;
  font-size: 17px;
  box-shadow: 1px 1px 16px #0d49b7;
  box-sizing: border-box;
  text-align: left;
}

.div-card img {
  width: 100%;
  height: auto;

}

.div-card P {
  margin-bottom: 2rem;
}

.div-card a {
  text-decoration: none;
  background-color: var(--corpo-backgrond);
  color: var(--corpo-terceiro-backgrond);
  padding: 8px;
  margin: 30px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.7s;
}

.div-card a:hover {
  background-color: #55a9ea;
}

.habilidades img,
.interesses img {
  width: 100px;
}



footer {
  height: 180px;
  padding-top: 32px;
  text-align: center;
  color: var(--corpo-backgrond);
  font-size: 20px;

}

.footer-informacoes {
  width: 1020px;
  margin: 0 auto 52px;
}

.fale-comigo {

  margin-top: 15px;
}

footer p a {
  color: var(--corpo-backgrond);
}

.samia-kelly {
  margin-top: 2em;
}


@media screen and (max-width: 1040px) {

  header {
    display: none;
  }

  .classe-section {
    width: 360px;
    height: 440px;
  }

  .informacao-contato {

    display: block;

  }

  .informacao-contato h1 {
    text-align: center;
    font-size: 28px;
    margin-top: 120px;
  }

  .informacao-contato h2 {
    text-align: center;
    font-size: 14px;
    margin: 4px 0 24px;
    font-weight: 700;
    font-style: italic;
  }

  .contato {
    position: relative;
    margin-left: 32px;
  }

  .contato p {
    top: 7px;
    left: 40px;
  }

  .foto {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 120px;
    top: 16px;
    border-width: 8px;
    background-size: 120px;
    background-repeat: no-repeat;
  }

  .midias {
    display: flex;
    position: absolute;
    top: 420px;
    right: 0;
    left: 0px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
  }

  main {
    padding: 16px 0;
  }

  main section {
    width: 340px;
    padding: 8px;
  }


  .margem-caixas {
    margin: 0 0 2.3% 0;
  }

  .imagem-sobremin {
    width: 100%;
    opacity: 0.2;
    position: relative;
  }

  #id-sobre-min {
    position: relative;


  }


  .div-sobre-min {
    position: absolute;
    display: block;
    width: 300px;

    right: 0;
    left: 0;
    top: 0;
    margin: 0 auto;
  }

  .div-sobre-min p {
    font-size: 9.50px;
    text-align: justify;
  }

  .titulo {
    margin-bottom: 8px;
    margin-top: 8px;
  }


  .background-texto {
    font-size: 15px;
    width: 100%;
    height: 88px;
  }

  .habilidades img,
  .interesses img {
    width: 50px;
  }

  .div-projetos {
    display: grid;


  }

  .div-card {
    width: auto;
    height: 55vh;

  }


}